* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.Weather_block{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.Weather_block > p{
    margin: 5px;
    padding: 2px;
}

.Weather_button{
    margin: 5px;
    padding: 2px;
}

.Weather_text{
    margin: 5px;
    padding: 2px;
}